
body {
	width: 800px;
	font-family: helvetica;
	font-size: 18px;
	border:	3px solid white;
	color: black;
	background-color: black;
	margin-top: 0 auto;
	height: 12px;
	
	padding-left: 34px;
	line-height: 3px;


}

h2 {
	font-family: arial;
	font-size: 10px;
}

img {
	float: right;
	}